.annimation {
  animation-name: popin;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes popin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

li:hover {
  opacity: 70%;
  transform: scale(1.1);
}
